
h1, h2 {
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
  }
ul li {
    list-style:  none;
  }

a:after {
    content: " (" attr(href) ")";
}
  
.flex > li {
    width: 20%;
    border: 1px solid black;
    margin: 0 1rem 2rem 1rem;
    text-align: center;
    padding: 10px 25px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  }
  
img {
    display: inline-block;
    max-width: 100%;
}
  