@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&family=Indie+Flower&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: Poppins, sans-serif;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
}

/*custom scroll*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ----------------------- */
/* general */
ol,ul {
  list-style: none;
}

a {
  text-decoration: none;
}

textarea:focus, input:focus{
  outline: none;
}

.container {
  display: flex;
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
  height: 100%;
}
.row {
  height: 100%;
  display: flex;
  flex-wrap: wrap;  
  margin: 0 15px ;
}
.col-1{
  width: 8.333333333%;
}
.col-2 {
  width: 16.666666667%;
}
.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333333%;
}

.col-5 {
  width: 41.666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333333%;
}
.col-8 {
  width:66.666666667%;
}

.col-9 {
  width: 75%;
}
.col-10{
  width: 83.333333333%;
}

.page-header {
  height: 90px;
  background: #111 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTQ1IDc5LjE2MzQ5OSwgMjAxOC8wOC8xMy0xNjo0MDoyMiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTkgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjI3MjhCMEZFOTk5NjExRTk4MzY2QUE1M0JBNUNFMjU4IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjI3MjhCMEZGOTk5NjExRTk4MzY2QUE1M0JBNUNFMjU4Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MjcyOEIwRkM5OTk2MTFFOTgzNjZBQTUzQkE1Q0UyNTgiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MjcyOEIwRkQ5OTk2MTFFOTgzNjZBQTUzQkE1Q0UyNTgiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4Qfm/SAAAARUlEQVR42mL8//8/w0AAJoYBAqMWj1o8avGoxaMWD2+L5YFYjVzNLBRYzAnEXORqZhytj0ctHrV41OJRi0ctHnQWAwQYAFfNBo/hry0xAAAAAElFTkSuQmCC') repeat;
}

.page-header .container {
  align-items: center;
}

.logo-wrap {
  display: flex;
  align-items: center;
}

.logo {
  font-size : 80px;
  color: white;
}

.header-title {
  text-align: center;
  color: white;
}

.header-countCourses {
  text-align: end;
  color: white;
}

.header-countCourses i {
  font-size: 60px;
  position: relative;
}

.header-countCourses span {
  position: absolute;
  content: "";
  top: -2px;
  right: 0;
  width: 20px;
  height: 20px;
  padding: 5px 5px;
  border-radius: 50%;
  font-size: 14px ;
  background-color: #009879;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* page main */

.page-main {
  height: 75vh;
}

.main-menu{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-list {
  height: 100%;
}

.main-menu {
  background-color: coral;
}

.btnName {
  padding: 20px 0;
  background-color: #009879;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: 0 0 5px #0be7b7;
  cursor: pointer;
}

.btnName:hover {
  background-color: darkolivegreen;
}

.btnName i {
  color: black;
  font-size: 30px;
  margin-right: 10px;
}


/* table-css */

.list-title, .menu-title {
  text-align: center;
}

.menu-title {
  margin-bottom: 50px;
}

.table-wrap {
  height: 70vh;
  overflow: auto;
}

thead tr {
  position: sticky;
  top: 0;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  table-layout: fixed
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th {
    padding: 12px 15px;
}

.styled-table td {
  padding: 20px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.thumnail-courses {
  width: 20%;
}
.description-courses{
  width: 50%;
  overflow: hidden;
}

.table-action {
  display: flex;  
}
.delete , .edit , .la-external-link-square-alt {
  font-size: 20px;
  cursor: pointer;
} 

.delete {
  margin-right: 10px;
}

.delete:hover {
  color: red;
}

.edit:hover {
  color: #009879;
}

/*modal */

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #009879;
  color: white;
}

.modal-body {padding: 2px 16px;}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}


.modal-footer, .modal-header {
  padding: 10px 16px;
  background-color: #009879;
  color: white;
  text-align: center;

}
.btn-modal {
  font-size: 15px;
  padding: 10px 10px;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.btn-modal:hover {
  background-color: black;
  color: white;
}

.input-course {
  padding: 10px;
}


/* page-footer */

.page-footer {
  height: calc(25% - 90px);
  background-color: #f6f9fc;
  color: rgba(0, 0, 0, 0.555);
  display: flex;
  justify-content: center;
  align-items: center;
}





