*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

a{
    color: white;
    text-decoration: none;
}
.main header{
	position: relative;
	height: 15vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('https://i.pinimg.com/originals/d2/be/51/d2be51ed235f517a8c8684bcd9343540.png');
	background-size: cover;
	background-position: center center;
	font-size: 1.5rem;
	color: #fff;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.main header .iconShopping{
	cursor: pointer;
	z-index: 1;
	position: relative;
	font-size: 1.8rem;
}
.main header .iconShopping p{
	position: absolute;
	top: -5px;
	right: -12px;
	font-size: 0.69rem;
	background-color: #000;
	padding: 5px 5px;
	border-radius: 50%;
}
/*items*/
.main .itemsBox{
	position: relative;
	height: calc(100% - 15vh);
	width: 90%;
	margin:0 auto;
	overflow: hidden;
	display: flex;
    gap: 10px;
	padding: 50px 25px;
}
.main .itemsBox .item{
	position: relative;
	height: 400px;
	width: 95%;
	overflow: hidden;
	padding: 10px 25px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.main .itemsBox .item img{
	position: relative;
	width: 100%;
	height: 60%;
	object-fit: contain;
}
.main .itemsBox .item h1{
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 1.2rem;
	font-weight: lighter;
	padding: 10px 0;
}
.main .itemsBox .item p{
	position: relative;
	width: 100%;
	text-align: right;
	font-size: 1.2rem;
	font-weight: lighter;
	padding: 10px 0;
	color: #017bf5;
}
.main .itemsBox .item a{
	position: relative;
	text-align: left;
	font-size: 1.2rem;
	font-weight: lighter;
	padding: 10px 0;
	background: #0f0f0f;
	text-decoration: none;
	color: #fff;
	padding: 10px 15px;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.main .itemsBox .item a:hover{
	background: #0f0f0fa5;
}

.page-footer{
    display: flex;
    justify-content: center;
}